vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Dec 2016 00:54:58 -0000
vti_author:SR|Мой-ПК\\Мой
vti_modifiedby:SR|Мой-ПК\\Мой
vti_nexttolasttimemodified:TW|18 Dec 2016 00:54:21 -0000
vti_timecreated:TR|15 Dec 2016 18:46:01 -0000
vti_extenderversion:SR|12.0.0.6500
vti_backlinkinfo:VX|03-Style/m/00-Super-m.css
vti_syncwith_localhost\\d\:\\1. проекты\\33. зет светильник\\gamelightzone/d\:/1. проекты/33. зет светильник/gamelightzone:TW|09 Dec 2016 20:29:02 -0000
vti_cacheddtm:TX|18 Dec 2016 00:54:58 -0000
vti_filesize:IR|2631
