vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|09 Dec 2016 06:50:13 -0000
vti_author:SR|Мой-ПК\\Мой
vti_modifiedby:SR|Мой-ПК\\Мой
vti_nexttolasttimemodified:TW|09 Dec 2016 06:50:13 -0000
vti_timecreated:TR|15 Dec 2016 18:46:01 -0000
vti_cacheddtm:TX|15 Dec 2016 18:46:01 -0000
vti_filesize:IR|2085
vti_extenderversion:SR|12.0.0.6500
vti_backlinkinfo:VX|
vti_syncwith_localhost\\d\:\\1. проекты\\33. зет светильник\\gamelightzone/d\:/1. проекты/33. зет светильник/gamelightzone:TW|09 Dec 2016 06:50:13 -0000
