vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 May 2018 13:20:33 -0000
vti_author:SR|Мой-ПК\\Мой
vti_modifiedby:SR|PC1\\Oleg
vti_nexttolasttimemodified:TW|07 Dec 2016 10:28:31 -0000
vti_timecreated:TR|15 Dec 2016 18:46:01 -0000
vti_extenderversion:SR|12.0.0.6500
vti_backlinkinfo:VX|03-Style/b/00-Super-b.css
vti_syncwith_localhost\\d\:\\1. проекты\\33. зет светильник\\gamelightzone/d\:/1. проекты/33. зет светильник/gamelightzone:TW|07 Dec 2016 10:28:31 -0000
vti_cacheddtm:TX|14 May 2018 13:20:33 -0000
vti_filesize:IR|2477
