vti_encoding:SR|utf8-nl
vti_author:SR|Мой-ПК\\Мой
vti_modifiedby:SR|PC1\\Oleg
vti_timelastmodified:TR|01 Oct 2018 07:14:53 -0000
vti_timecreated:TR|15 Dec 2016 21:03:46 -0000
vti_extenderversion:SR|12.0.0.6500
vti_backlinkinfo:VX|03-Style/b/00-Super-b.css
vti_nexttolasttimemodified:TW|01 Oct 2018 07:12:18 -0000
vti_title:SR|Модификация для больших устройств
vti_cacheddtm:TX|01 Oct 2018 07:14:54 -0000
vti_filesize:IR|5353
