vti_encoding:SR|utf8-nl
vti_author:SR|Мой-ПК\\Мой
vti_modifiedby:SR|PC1\\Oleg
vti_timelastmodified:TR|01 Oct 2018 07:17:15 -0000
vti_timecreated:TR|15 Dec 2016 21:03:46 -0000
vti_extenderversion:SR|12.0.0.6500
vti_nexttolasttimemodified:TW|01 Oct 2018 07:17:06 -0000
vti_title:SR|Модификация для мобильных устройств
vti_backlinkinfo:VX|03-Style/m/00-Super-m.css
vti_cacheddtm:TX|01 Oct 2018 07:17:15 -0000
vti_filesize:IR|2764
